@font-face {
  font-family:'Tangerine';font-style:normal;font-weight:400;
  src:local('Tangerine'),url(https://rongnano.github.io/file/stylesheets/f.woff) format('woff');
  src:url('https://rongnano.github.io/file/stylesheets/f.eot');
  src:url('https://rongnano.github.io/file/stylesheets/f.eot?#iefix') format('embedded-opentype'),
  url('https://rongnano.github.io/file/stylesheets/f.woff2') format('woff2'),
  url('https://rongnano.github.io/file/stylesheets/f.ttf') format('truetype'),
  url('https://rongnano.github.io/file/stylesheets/f.svg#Tangerine') format('svg')
}
html{margin:0;width:100%;height:100%;min-height:900px;overflow-x:hidden}
body,form,input,table,tr,td,ul,ol,li,p,span,fieldset,legend,font{margin:0;padding:0;line-height:12px;text-decoration:none}
body{top:0;left:0;width:100%;height:auto;position:absolute;overflow:hidden;border:0;background:#f2f2f2 url('https://2.bp.blogspot.com/-WqYActoMKBI/Vyq0Vw4AStI/AAAAAAAAJyw/3RJSWRZ5NyQwAqYFs2jfTjPVZqGXBMkLACLcB/s0/bg.gif') repeat left top fixed}
a,p,i,u,ul,ol,li,span,font{display:inline-block;zoom:1;*display:inline}input::-moz-focus-inner{border:0;padding:0}
.opf{opacity:1 !important;filter:alpha(opacity=100) !important}.mobile{display:none}.block{display:block !important}.none{display:none !important}
#topbar,#abur,#hibar,.loading{top:0;left:0;width:100%;position:absolute}
::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar:hover{width:12px}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 7px rgba(99,99,99,0.3); 
border-radius: 9px;
}
::-webkit-scrollbar-thumb {
border-radius:9px;
background-color:rgb(255, 255, 255);
background-image:-webkit-gradient(linear, 40% 0%, 75% 84%, from(rgb(255, 0, 212)), color-stop(0.6, rgb(139, 143, 249)), to(rgb(42, 234, 7)));
-webkit-box-shadow:inset 0 0 7px rgba(77,77,77,0.7); 
}
::-webkit-input-placeholder {
color:#ccc
}
:-moz-placeholder {
color:#ccc 
}
::-moz-placeholder {
color:#ccc  
}
:-ms-input-placeholder {  
color:#ccc 
}
.loading{width:100%;height:100%;background:transparent url(https://2.bp.blogspot.com/-w0xh4LU5T8Q/VzdZzXEiDDI/AAAAAAAAJ3A/6Jni6q2X7zgQEuzBGxrR0d2bCxWoTsH8wCLcB/s0/loading.gif) center bottom no-repeat fixed;position:fixed;z-index:999}
.bar{font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px;line-height:20px;color: #333333;}
.center{width:99%;margin:0 auto;padding:0;border:0;display:table;position:relative}
.gaia{width:100% !important;background:rgba(255,255,255,0.18)}
#abur{height:100%;background:rgba(255,255,255,0.69);z-index:0}
#hibar #solo div{padding:0;position:absolute;left:0;right:0;margin-left:auto;margin-right:auto;}
#hibar #solo{width:39%;height:45px;position:relative;margin:0 auto;display:table;text-align:center}
#hibar #logo{top:0;transition:top 0.12s ease-out}#hibar:hover #logo{top:-57px}
#logo font{margin-top:18px;font-family:Tangerine,serif;font-size:39px;text-shadow:4px 4px 4px #aaa;color:#000;letter-spacing:1px;word-spacing:3px;}
#search{width:100%;top:-32px;transition:top 0.12s ease-out;z-index:5;}#hibar:hover #search{top:6px !important;}

#search input{margin-left:-12px;margin-top:1px;border:0;border-spacing:0px;space:0px;
word-spacing:0;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;outline:none;
}

#search input.left{width:79%;height:28px;padding-left:12px;border-radius:9px;
box-shadow:inset 0 -2px 0 0 rgba(77,77,77,0.12);
font:15px/28px 'Helvetica Neue',Helvetica,Arial,sans-serif;
color:#2e2e27;
background:rgba(255,255,255,0.57) url('data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D');
}

#search input.right{margin-left:-36px;padding:3px 0;border-radius:9px;display:inline-block;
width:32px;height:22px;
color:#777;font:17px/17px 'Helvetica Neue',Helvetica,Arial,sans-serif;cursor:pointer;
background:none;
}
#search input.right:hover{
color:#000;
background: rgba(66,239,198,0.68);
background: -moz-linear-gradient(45deg, rgba(66,239,198,0.68) 0%, rgba(195,239,190,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(66,239,198,0.68)), color-stop(100%, rgba(195,239,190,1)));
background: -webkit-linear-gradient(45deg, rgba(66,239,198,0.68) 0%, rgba(195,239,190,1) 100%);
background: -o-linear-gradient(45deg, rgba(66,239,198,0.68) 0%, rgba(195,239,190,1) 100%);
background: -ms-linear-gradient(45deg, rgba(66,239,198,0.68) 0%, rgba(195,239,190,1) 100%);
background: linear-gradient(45deg, rgba(66,239,198,0.68) 0%, rgba(195,239,190,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42efc6',endColorstr='#c3efbe',GradientType=1);

}
#search ul{
width: 81.3%;
margin:2px 0 0 -9px;
padding: 0;
background: rgba(255,255,255,0.89);
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
cursor: default;z-index:3;
}
#search ul li{    text-align: left;
line-height: 25px;
font: 16px/25px 'Helvetica Neue',Helvetica,arial,sans-serif;
padding: 0 12px 0 11px;
display: block;
font-weight: bold;}
#search ul li b{color:#FF3DFF;font-weight:normal}
#search ul li:hover,#search ul li.t{background:rgba(233,233,233,.69)}

#topbar{padding:0;height:39px;text-align:right;z-index:2}
#tipbar{width:100%;padding:0;height:39px;border-bottom:1px dotted #e7e8e9;opacity:0.69;filter:alpha(opacity=69);box-shadow:0 12px 36px rgba(255,255,255,0.08);background:transparent url('data:image/gif;base64,R0lGODlhBQAoAMQAAOnp6u3t7vX19uXl5vHx8fz8/Pr6+vj4+Ovr7O/v8PPz8+zs7ezr7Pv7++jn6Pf3+PT09efn5/Dv8Pr5+vn5+f3+/v39/f7+/ejo6Pz7/PDw8eLi4+Tk5f7+/vf39////yH5BAAAAAAALAAAAAAFACgAAAVr4CaKX1l6KMosSMu9MDfMNB3ZUR45EcZjwCBgSCQiAC0Ai4FYOJ+BqHSaqCYCkkRWw9UQvIQwQUEumyECiFrAbrtT8If8cKDUKROKfmIw8BuABg0ZBYANBYiIFhaJFhUWHY4Xjx2Vlh0mHyEAOw==') 0 -2px repeat-x;}
#midbar{width:100%;padding:0;height:30px;border-bottom:1px solid #e7e7e7;border-top:1px solid #fff;background:rgba(255,255,255,0.45);box-shadow:0 1px 3px rgba(27,27,27,0.08);z-index:1}
.roluu{top:-2px;position:fixed;height:23px !important;opacity:0.17;filter:alpha(opacity=17)}
.roluu:hover{top:0;height:25px !important;opacity:1;filter:alpha(opacity=100)}
.rolul{top:0;position:fixed;height:19px !important;border:0 !important;transition:height 0.2s ease;}
.rolul ul{margin-top:-5px !important;opacity:0.39;filter:alpha(opacity=69);transition:margin-top 0.2s ease;}.rolul ul.ulm1{margin-top:-1px !important}
.rolul:hover{height:27px !important}.rolul:hover ul{margin-top:0 !important;opacity:1;filter:alpha(opacity=100);}

ul.ulbar,ul#ulmen{margin:0;padding:0;list-style:none;display:inline}ul.l{float:left}ul.ulbar{margin-right:3px}
ul.ulbar li,ul#ulmen li{margin:0;padding:0;display:inline-block}
ul.ulbar li{margin-left:3px;display:inline-block;vertical-align: top;}
ul.ulbar li a,#midbar div.mobile span,ul.mulbar li a{padding:7px 10px 9px 10px;color: #000;font-weight: bold;text-decoration:none;line-height:12px;

background:rgba(255,255,255,0.57);
text-shadow: 0 2px 2px rgba(255,255,255, 0.7);
border-bottom-right-radius: 7px;border-bottom-left-radius:7px;
-webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
-webkit-transition: background 0.5s ease;
-moz-transition: background 0.5s ease;
transition: background-color 0.5s ease;
}
ul.ulbar li a:hover,ul.mulbar li a,#midbar div.mobile span:hover{
background-color:rgba(230,230,230,0.92);
}
ul.ulbar li a:active,ul.mulbar li a:active{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
ul.ulbar li a.uh{width:27px;height:25px;
background-size: 32px 32px;
background-repeat: no-repeat;
z-index:5;
}

ul.ulbar li a#uhh{background-image:url(https://3.bp.blogspot.com/-xJ71NBHN1rg/Vyqs9UkZlDI/AAAAAAAAJyE/8s3D41wdFxU3qYLCEghLOrXVtEp88K8ygCLcB/s32/home_icon.png);background-position:center 3px;}
ul.ulbar li a#uhm{background-image:url(https://1.bp.blogspot.com/-QyIetGeWciE/VyqtASOMj4I/AAAAAAAAJyI/Zhzv9TVuYB8pFM1mB9XpvQ5hLLiXw6y6ACLcB/s32/mobile-menu.png);background-position:center 4px;}



ul.mulbar{margin:0 3px}
ul.mulbar li a#moh{
height: 17px;
width: 15px;background:url(https://3.bp.blogspot.com/-xJ71NBHN1rg/Vyqs9UkZlDI/AAAAAAAAJyE/8s3D41wdFxU3qYLCEghLOrXVtEp88K8ygCLcB/s32/home_icon.png) center 3px no-repeat;
background-size: 25px 25px;
}
ul.mulbar li a#muh{height: 17px;
width: 15px;background:url(https://1.bp.blogspot.com/-QyIetGeWciE/VyqtASOMj4I/AAAAAAAAJyI/Zhzv9TVuYB8pFM1mB9XpvQ5hLLiXw6y6ACLcB/s32/mobile-menu.png) center 3px no-repeat;
background-size: 25px 28px;
}


#topbar div.mobile a.mob{top:0;left:4px;position:fixed;opacity:0.27;filter:alpha(opacity=27);z-index:5;}
#topbar div.mobile a.mop{top:0;right:4px;position:fixed;opacity:0.27;filter:alpha(opacity=27);z-index:5;}


ul#group{top:42px;margin-top:199px;opacity:0;visibility:hidden;margin-left:-46px;transition:visibility 0s,opacity .1s ease-out,margin-top .2s ease-out;
position:fixed;text-align:left;
padding: 2px 0 1px 0;
background: rgba(255,255,255,0.79);
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 9px 12px rgba(0,0,0,0.12);
cursor: default;z-index:3;}
ul#group li,ul#ulmen ul li{margin:0;text-align:left;display:block;
transition:background-color .5s ease-out;
background: rgba(255,255,255,.79);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(255,255,255,0.03) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(255,255,255,0.03)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(255,255,255,0.03) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(255,255,255,0.03) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(255,255,255,0.03) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,.7) 0%, rgba(255,255,255,0.7) 0%, rgba(89,79,57,0.07) 120%, rgba(255,255,255,.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);

}
ul#group li:hover{background-color:rgba(230,230,230,0.92);}
ul#group li a,ul#ulmen ul li a{background:none;box-shadow:none;
line-height: 22px;color:#000;
font: 14px/22px 'Helvetica Neue',Helvetica,arial,sans-serif;
padding: 0 10px 0 8px;
text-shadow: -1px -1px 2px rgba(251, 250, 247, 0.7);
font-weight: bold;text-transform: capitalize;display:block}
ul#group li a:hover{color:#FF3DFF}

ul.ulbar li:hover ul#group{margin-top:0;opacity:1;visibility:visible;}
ul.ulbar li:hover ul.kata{top:0 !important;margin:41px 0 0 1px !important;}


ul#ulhome,ul#ulhome1,ul#ulhome2{margin-top:-22px;opacity:0;visibility:hidden;background:rgba(255,255,255,0.79);
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 9px 12px rgba(0,0,0,0.12);
position:fixed;transition:visibility 0s,opacity .2s ease-out,left .2s ease-out}
ul#ulhome{left:199px}ul#ulhome1{left:299px}
ul#group li:hover ul#ulhome,ul#ulhome li:hover ul#ulhome1,ul#ulhome1 li:hover ul#ulhome2{opacity:1;visibility:visible;}

ul#ulmen{width:auto;margin:0 auto;padding:0;border:0;display:table}
ul#ulmen li{padding:0 15px;cursor:pointer}
ul#ulmen li:hover{}
ul#ulmen li a{padding: 1px 0 2px 0;line-height:28px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;color:#373737;text-decoration:none;
text-shadow: 0 -2px 9px #EBEBEB, 0px 2px 9px #EBEBEB;
font-weight: bold;
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
}
ul#ulmen li a:hover{
text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f;
color: #fff;
-webkit-animation-name: bob-float, bob;
animation-name: bob-float, bob;
-webkit-animation-duration: .2s, 1s;
animation-duration: .2s, 1s;
-webkit-animation-delay: 0s, .2s;
animation-delay: 0s, .2s;
-webkit-animation-timing-function: ease-out, ease-in-out;
animation-timing-function: ease-out, ease-in-out;
-webkit-animation-iteration-count: 1, infinite;
animation-iteration-count: 1, infinite;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-direction: normal, alternate;
animation-direction: normal, alternate; 
}

ul.ulaz{
	margin:0 0 0 -10px;
	display: none;
	background: rgba(255, 255, 255, 0.82);
	position:absolute;
	z-index:1;
}
ul.ulaz li ul{
	left: 100%;
	margin-top: -23px;	
	width:auto;
	white-space: nowrap;
	background: rgba(255, 255, 255, 0.82);
	position: absolute;
	display:none;
}
ul#ulmen li:hover ul.ulaz,ul.ulaz li:hover ul{
	display:block;
}
ul#ulmen li ul li{
	padding:0;
	transition:background-color .36s ease-out;
	background-color: rgba(0, 255, 65, 0.57);
}
ul#ulmen li ul li:hover{
	background-color: rgba(255, 0, 239, 0.57);
}
ul#ulmen li ul li a{
	font-size: 14px;
    line-height: 23px;
}
#ulmen p{
	top: -2px;
	margin-right: 3px;
    color: rgba(255,0,255,0.9);
    font-size: 14px;
    position: relative;    
}
ul#ulmen li a.k{
	color: rgba(255,0,255,0.9);
	text-transform: capitalize;
}



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
#container{box-shadow: 0 36px 79px rgba(27,27,27,0.69);}
#show{min-height:600px;position:relative;}
#show .showc{padding:11px 1px;height:600px;}
.wap{margin:0 3px 12px 3px;max-width:299px;border:0;background:rgba(255,255,255,0.45);border-radius:1px;display: block;word-wrap:break-word;
box-shadow:0px 2px 5px rgba(77,77,77,0.39);position:relative;font-size:11px;color:#555;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:12px;}
.wap:hover{background:rgba(255,255,102,0.39);cursor:pointer}

.wap .header{padding:7px 7px 2px 7px;line-height:1.3em;font-size:11px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:12px;text-align:center;background:rgba(255,255,255,0.77);position:relative}
.wap .header a{margin:3px 0 2px 0;width:100%;word-wrap:break-word;line-height:15px;font-size:12px;color:#036E9E;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:15px;text-decoration:none}
.wap .header a:hover{color:#FF3DFF}/*FE0066*/
.wap .header p{display:block}
.wap .header img{width:100%;height:auto}
.wap .header span{left:0;top:-99px;padding:9px 12px 3px 12px;height:auto;opacity:0;visibility:hidden;position:absolute;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;overflow:hidden;line-height:19px;
text-shadow: 2px 2px 5px rgba(0,0,0,0.57);color:#fff;
transition:visibility 0s,opacity .1s ease-out,top .25s ease-out;text-align:justify;
letter-spacing: 1px;
word-spacing: -2px;
background-color: rgb(239,239,239);
background-color: rgba(239, 239, 239, 0.27);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(147, 1, 255, 0.27)));
}
.wap .header:hover span{top:0px;opacity:1;visibility:visible}

.wap .header .rate{width:calc(100% - 14px);height:calc(100% - 31px);position:absolute;font:11px/11px Tahoma,Verdana,Segoe,sans-serif;}
.wap .header .rate p.c,.wab .rate p.c{
	background:rgba(255,255,255,0.77);
	position:absolute;
    bottom:0;
    padding:1px 2px;    
    color:#2e2e27;
    letter-spacing:1px;
    -moz-border-radius-topright:2px;
    -webkit-border-top-right-radius:2px;
    border-top-right-radius:2px;
}
.wap .header .rate p.s,.wab .rate p.s{
	width:34px;height:50px;
	background:url(https://1.bp.blogspot.com/-Wt-Gb6-Br5I/V3OwLRPI47I/AAAAAAAAKeE/GjVYkWUyZZEKN6s0T88ksYEC-VrcI3r8wCLcB/s0/full-label.png) no-repeat left top;
	position:absolute;
    top:-12px;left:-7px;
}
.wap .header .rate p.t,.wab .rate p.t{
	width: 15px;
    height: 15px;
    text-align: center;
    color: #ff4a4a;
    background: url(https://2.bp.blogspot.com/-mg-IPZBkz-Q/V3OxYN6zF-I/AAAAAAAAKeU/av1csX1tGTgdHfe9_xMtB8AljW8VcDheQCLcB/s0/rate.png) center top no-repeat;
    background-size: 15px 15px;
    position: absolute;
    top: -7px;
    right: -7px;
    line-height: 14px;
}
.wap .header .rate p.h,.wab .rate p.h{
	width: 30px;
    height: 15px;
    text-align: center;
    color: #ff4a4a;
    background: url(https://3.bp.blogspot.com/-yJd_afZAvQM/V3OxX2c-3kI/AAAAAAAAKeQ/auQ9IBcK_9IRYm5kDgJU-vvwM_na7gGkgCLcB/s0/heart.png) center top no-repeat;
    position: absolute;
    bottom: -2px;
    right: -12px;
    line-height: 13px;
}

.wap .noig{text-align:left;background:rgba(219,232,117,0.15) url('https://3.bp.blogspot.com/-3Xxq_8GmLO0/V3RnAqZJ7XI/AAAAAAAAKfI/NKg1SW498n4-c5JkGGMn5zYSgV5poYPCwCLcB/s0/noig.png') center top repeat}

.wap .footer{height:auto;padding:9px 0 5px 9px;font-size:12px;background:#f2f0f0 url(http://1.bp.blogspot.com/-jwo7HLW9Mp4/VgPmLoXc5OI/AAAAAAAALbM/0NDP9tlzehA/s157/body-bg.jpg) repeat-x;}
.wap .footer img{width:32px;height:32px}
.wap .footer span{width:79%;height:auto;margin-top:-1px;padding-left:9px;vertical-align:top;word-wrap:break-word;line-height:18px;word-spacing:2px;}
.wap .footer a{font-size:12px;line-height:18px;color:#124D79;text-decoration:none;text-transform:capitalize;}
.wap .footer a.t{color:#124D79;word-spacing:0px;word-wrap:break-word;display:inline}
.wap .footer a.t:hover{color:#FF3DFF}.wap .footer a:hover{color:blue;}



.wab a{
	width:100%;
	padding:7px 0;
	font:800 18px/20px "Times New Roman",Georgia,Times;
	text-decoration:none;
	display:block;
	background-color:rgba(239,239,239,0.27);
	clear:both;
}
.wab a.l{
	color: #ff00ff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.12);
}
.wab a.r{
	color: #0000ee;
	text-align:right;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.12);
}
.wab .rate,.wab img{width:100%;height:100%}

.wab div.rp{
	width:calc(100%/2 - 1px);
	position:relative;
}
.wab div.l{
	left:0;
	float:left;
	box-shadow: -2px -3px 0 rgba(255, 0, 255, 0.25);
}

.wab div.r{
	right:0;
	float: right;
	box-shadow: 2px 3px 0 rgba(0,0,236,0.25);
}

.wab .rate{
	font:10px/10px Tahoma,Verdana,Segoe,sans-serif;
	position:absolute;
}
.wab .rate p.s{
	width:26px;height:39px;
	background-size:26px 39px;
    top:-7px;left:-2px;
}
.wab .rate p.t{
	top: 2px;
    left: 2px;
    background-position: 1px top; 
}
.wab .rate p.c{
	padding: 0px 2px;
}
.wab .rate p.h{
	bottom: 15px;
    left: -7px;
}




#ibars{
	text-align: center;
    width: 100%;
    font-size: 15px;
    color: rgb(67, 177, 17);
    font-family: Arial,Tahoma,Helvetica,'times new roman', serif !important;
}
#ibars table{	
    width: 316px;
    margin: 18px 0 9px 0;
    background: rgba(239, 212, 255, 0.36);
    border-radius: 5px;
    border-spacing: 12px;
    border-collapse: separate;
    text-align: center;
    display: inline-block;
}
#ibars table td{
	vertical-align:top;
}
#ibars a{
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
#ibars a.k{	
	position: relative;
    top: -3px;
    color: rgb(117, 117, 117);
}

#ibars a.t{
    margin:0;
    color: #ff0000;
    font-size: 17px;
    line-height:22px;
}
#ibars a:hover{
	color:#FF3DFF;
}

#ibars p.h{
	width: 16px;
    height: 17px;
    margin-right: 3px;
    background: url(https://2.bp.blogspot.com/-4KRafn0-f_c/V3Oi0oRkF0I/AAAAAAAAKdg/A0oVhpwImoIFQJ_fuYsi-MApC0-iD9zxACLcB/s0/blue_heart.png) no-repeat top left;
    cursor: pointer;
}

#stars{
	display:inline;z-index:1;
}
#stars p{
	padding: 2px 5px;
    display: inline;
}
#stars a{
	width:15px;height:15px;border:0;cursor:pointer;
	margin:0 2px;
	background-size: 15px 15px !important;
}
#stars a.a{
	background:url(https://1.bp.blogspot.com/-e_roKP0pB_o/V3Ok2VzteWI/AAAAAAAAKdw/q0X_owgt0qMyyjjNRjzrVn_DKXHd_3gzwCLcB/s0/star_yes.png) no-repeat left top;
}
#stars a.b{
	background:url(https://2.bp.blogspot.com/-e34BhhXTOCU/V3Ok2Zif4_I/AAAAAAAAKds/74bpcgAP4wspFTCjnkmdeEH1hbXXTXW4gCLcB/s0/star_no.png) no-repeat left top;
}
#stars a.h{
	background:url(https://3.bp.blogspot.com/-Sa5XRcffp1Y/V3Ok2T5a0oI/AAAAAAAAKd0/4ZBK4vj5wZYx1NCOoy1v9Zuz82XF2SoigCLcB/s0/blue_star.png) no-repeat left top;
}

#show div#sea{width:232px;padding:12px 0 0 4px;}#show div#sky{width:120px;position:relative}#gaia.gaia #show div#sky{padding-left:5px}
#show div#content,#show div#adbar{margin-top:12px;box-shadow:0px 2px 5px rgba(77,77,77,0.39);}
#show #adbar{position:fixed;width:120px;height:600px;right:1px;top:72px;background:rgba(255,255,255,0.77);border-radius:1px}
#show #content{width:auto;height:auto;min-height:603px;background:rgba(255,255,255,0.77) url(https://2.bp.blogspot.com/-w0xh4LU5T8Q/VzdZzXEiDDI/AAAAAAAAJ3A/6Jni6q2X7zgQEuzBGxrR0d2bCxWoTsH8wCLcB/s0/loading.gif) center 36% no-repeat;border-radius:1px;position:relative;}
#show #ititle{margin:0;padding:7px 0;font-size:20px;line-height:36px;text-align:center;text-shadow:1px 1px 0 #F2F2F2,1px 2px 0 #b1b1b2;color:#282828;text-decoration: none;font-family:'Norican','Helvetica Neue',Arial,sans-serif;font-weight:bold;letter-spacing:0;word-spacing:-1px;}
#show #ipost{width:100%;text-align:center;
background:rgba(255,255,255,0.39);
font-family:Arial,Tahoma,Helvetica,'times new roman', serif !important;
font-style: normal;
font-size:17px;line-height:22px;
position:relative;
}


/*IPOST*/
#show #content.ifull{background:rgba(233,234,237,0.27)}
#ipost{text-align:left !important}
#ipost img{padding:0px;height:auto;border:0 !important;clear:both;
margin-bottom:20px !important;max-width:100% !important;
-webkit-box-shadow: -12px 0px 77px 9px rgba(222,222,222,0.18);
-moz-box-shadow: -12px 0px 77px 9px rgba(222,222,222,0.18);
box-shadow: -12px 0px 77px 9px rgba(222,222,222,0.18);
}

#ipost div.ifull{text-align:center}
#ipost div.ifull img{max-width:100% !important;margin-bottom:2px !important}

#ipost div.text{margin:0 20px;text-align:justify;
font-family:Arial,Tahoma,Helvetica,'times new roman', serif !important;
font-style: normal;
font-size:17px !important;line-height:24px;
text-shadow:-1px -1px rgba(255, 255, 255, .7);
}
#ipost div.text a,#ipost div.text span,#ipost div.text img{display:inline}
#ipost div.text a,#ipost div.text font.brx{word-break:break-all;}#ipost div.text a.inx{clear:both;display:block}
#ipost div.text span{}

#ipost div.text img{width:39%;max-width:39%;display:block;margin:0 auto;
-moz-border-image: url(https://3.bp.blogspot.com/--8F-OBYPf8Q/V3Ri3PaFP0I/AAAAAAAAKek/eLzJZCGIsdICA4vrhiKtmFM50lfX5nKogCLcB/s0/border.png) 6 / 6px stretch;
-ms-border-image: url(https://3.bp.blogspot.com/--8F-OBYPf8Q/V3Ri3PaFP0I/AAAAAAAAKek/eLzJZCGIsdICA4vrhiKtmFM50lfX5nKogCLcB/s0/border.png) 6 / 6px stretch;
-o-border-image: url(https://3.bp.blogspot.com/--8F-OBYPf8Q/V3Ri3PaFP0I/AAAAAAAAKek/eLzJZCGIsdICA4vrhiKtmFM50lfX5nKogCLcB/s0/border.png) 6 / 6px stretch;
border-image: url(https://3.bp.blogspot.com/--8F-OBYPf8Q/V3Ri3PaFP0I/AAAAAAAAKek/eLzJZCGIsdICA4vrhiKtmFM50lfX5nKogCLcB/s0/border.png) 6 / 6px stretch;
-webkit-border-image: url(https://3.bp.blogspot.com/--8F-OBYPf8Q/V3Ri3PaFP0I/AAAAAAAAKek/eLzJZCGIsdICA4vrhiKtmFM50lfX5nKogCLcB/s0/border.png) 6 / 6px stretch;
}
#ipost div.text img.yleft{margin:19px 22px 12px 0;float:left;
-webkit-box-shadow: -3px -1px 15px rgba(0,0,0,0.27);
box-shadow: -3px -1px 15px rgba(0,0,0,0.27);

}
#ipost div.text img.yright{margin:19px 0 12px 22px;float:right;
-webkit-box-shadow: 3px 0px 15px rgba(0,0,0,0.27);
box-shadow: 3px 0px 15px rgba(0,0,0,0.27);

}

#ipost div.text br{line-height:27px}

#ipost #gtext{padding:2px 17px;font-size:20px;color:#000;letter-spacing:1.5px;word-spacing:0px;line-height:32px;text-align:justify;text-shadow:0 -1px #FFF;
background:url(https://1.bp.blogspot.com/-AwhNhudDlik/VzSVHtiztGI/AAAAAAAAJ2w/X1kmui8-MRAK_vXd4J4K7rUDXjpKmMDHQCLcB/s0/footprint.png) no-repeat;
cursor:-webkit-grab;cursor:grab}
#ipost #gtext br{line-height:42px}

img.loading{width:312px;height:450px !important;background:url(https://2.bp.blogspot.com/-w0xh4LU5T8Q/VzdZzXEiDDI/AAAAAAAAJ3A/6Jni6q2X7zgQEuzBGxrR0d2bCxWoTsH8wCLcB/s0/loading.gif) center 45% no-repeat;position:relative}


#tail{width:98%;margin:19px auto}#tail div.table{width:100%;background:rgba(52,255,5,0.1);}
#tail div.table div.cell{width:49%;padding:9px 0 12px 0;vertical-align:bottom;
-webkit-box-shadow: 0px 0px 3px 0px rgba(89, 6, 154, 0.33);
-moz-box-shadow: 0px 0px 3px 0px rgba(89, 6, 154, 0.33);
box-shadow: 0px 0px 3px 0px rgba(89, 6, 154, 0.33);
}
#tail ul.list{}
#tail ul.list li{padding:0 15px;line-height:27px;display:block}
#tail ul.list li a{font-size:16px;font-weight: bold;text-decoration:none;}
#tail ul.list li a:hover{color:#FF3DFF}
#tail #ileft{padding-left:12px;text-align:right}#tail #iright{padding-right:12px}
#tail #ileft ul{float:left}#tail #iright ul.right{float:right}

#tail ul.page{}
#tail ul.page li span{margin:0 3px;padding:1px 6px;text-align:center;
font-weight: bold;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 14px;color:#0000EE;
border-radius: 2px;

background-color: #fff;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eee));
background-image: -webkit-linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
background-image: -moz-linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
background-image: -ms-linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
background-image: -o-linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
background-image: linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
-webkit-box-shadow: 0px 1px 3px -1px rgba(46, 5, 212, 0.75);
-moz-box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);
box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);
line-height: 22px;cursor:pointer}#tail ul.page li span:hover{color: #FF3DFF;}
#tail ul.page li span.z{
color: #FF3DFF;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eee));
background-image: -webkit-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: -moz-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: -ms-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: -o-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
}



#tail #ileft #isec{position:relative;}


#tail #iright input{padding: 5px 3px 3px 5px;
line-height: 15px;
margin-left: 15px;
font-weight:bold;
line-height: 14px;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 14px;
color: #0000EE;
width: 49px;
border: 0;
border-radius: 2px;
background-color: #fff;
background-image: -webkit-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: -moz-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: -ms-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: -o-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
-webkit-box-shadow: 0px 1px 3px -1px rgba(46, 5, 212, 0.75);
-moz-box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);
box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);

}
#tail #iright a{
margin-left: 5px;
border: 0;
background: #fff;
padding: 4px 9px 3px 9px;
line-height: 16px;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 14px;
color: #0000EE;
border-radius: 2px;
background-color: #fff;

background-color: #fff;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eee));
background-image: -webkit-linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
background-image: -moz-linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
background-image: -ms-linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
background-image: -o-linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
background-image: linear-gradient(top, rgba(158, 245, 130, 0.57), rgba(220, 206, 109, 0.12));
-webkit-box-shadow: 0px 1px 3px -1px rgba(46, 5, 212, 0.75);
-moz-box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);
box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);
cursor:pointer}



#ileft label select{
padding: 0px 7px;
margin: 1px 0 0 0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
color:#FF3DFF;
text-align: center;
font-weight: bold;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 20px;
background:none;
border:none;
outline:none;
display: inline-block;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
cursor:pointer;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
#ileft label select {padding-right:22px}
}
#ileft label{margin-right:15px;padding:2px 0;position:relative;
border-radius: 2px;
background-color: #fff;
background-image: -webkit-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: -moz-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: -ms-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: -o-linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
background-image: linear-gradient(top, rgba(245,217,245,0.57), rgba(220, 206, 109, 0.12));
-webkit-box-shadow: 0px 1px 3px -1px rgba(46, 5, 212, 0.75);
-moz-box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);
box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);

}
#ileft label:after{
content: '<>';
height: 15px;
font: 12px 'Consolas', monospace;
color: #0000EE;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
right: 3px;
top: 1px;
padding: 0 0 2px;

border-bottom: 1px solid #ccc;
position: absolute;
pointer-events: none;
}
#ileft label:before{
content:'';
right:4px; top:0px;
width:20px; height:20px;
position:absolute;
pointer-events:none;
display:block;
}



#itail{width:50%;margin:17px auto;position:relative;line-height: 27px;text-shadow: 1px -1px rgba(113, 51, 82, 0.46);text-align:center}
#itail a{
display: inline;
padding: 3px 12px;
font-size: 26px;
line-height: 26px;
font-weight: bold;
color: #fff;
border-radius: 5px;
background: #5BB75B;
cursor: pointer;
}
#itail div.gose input::-webkit-input-placeholder{color:#ccc}
#itail div.gose{    margin: 0 32px 0 39px;
display: inline;}
#itail div.gose input{padding: 2px;border:0;
width: 57px;
font-weight: bold;
font-size: 17px;
line-height: 17px;}

#itail div.gose span{
border-radius: 5px;
margin-left: 12px;
padding: 7px 7px 5px 7px;
color: #fff;
font-weight: bold;
background: #5BB75B;cursor:pointer;
}
#itail a,#itail div.gose input,#itail div.gose span{
-webkit-box-shadow: 0px 1px 3px -1px rgba(46, 5, 212, 0.75);
-moz-box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);
box-shadow:0px 1px 3px -1px rgba(46, 5, 212, 0.75);
}
#itail a:hover,#itail div.gose span:hover{color:#FF3DFF}

/*@@@@@@@@@@@@@@@@@@@@@@@*/
#show #conbar{margin-left:-3px;margin-right:-3px}
.table{
display: table;
}
.row{
width:100%;
display: table-row;
clear: both;
vertical-align: top;
}
.cell{
display: table-cell;
vertical-align: top;
}
.clear{
width:100%;
display:table-caption;
}

@-webkit-keyframes bob{
0% {
-webkit-transform: translateY(-2px);
transform: translateY(-2px);
}
50% {
-webkit-transform: translateY(-0px);
transform: translateY(-0px);
}
100% {
-webkit-transform: translateY(-2px);
transform: translateY(-2px);
}
}
@keyframes bob{
0% {
-webkit-transform: translateY(-2px);
transform: translateY(-2px);
}
50% {
-webkit-transform: translateY(-0px);
transform: translateY(-0px);
}
100% {
-webkit-transform: translateY(-2px);
transform: translateY(-2px);
}
}
@-webkit-keyframes bob-float{
100% {
-webkit-transform: translateY(-2px);
transform: translateY(-2px);
}
}
@keyframes bob-float{
100% {
-webkit-transform: translateY(-2px);
transform: translateY(-2px);
}
}
@media only screen and (max-width:499px){/*************************************************************************************/
#show #conbar{margin:0}#show .showc{padding:7px 1px}
.wap{max-width:100%}.wab div.rp{height:299px}
ul.ulbar,#sidebar,#adbar,#sea,#sky{display:none}
.desktop{display:none}.mobile{display:block}
#hibar #solo{width:79%}#search input{margin-left:-5px}
#midbar ul#ulmen{position:relative;margin:0 auto;}
#midbar ul#ulmen li{padding:0 9px}#midbar ul#ulmen li ul li{padding:1px 2px}

#mhom{top:0;left:0;width:100%;height:100%;position:fixed;overflow:hidden;overflow-y:scroll;background:#f2f2f2 url('https://2.bp.blogspot.com/-WqYActoMKBI/Vyq0Vw4AStI/AAAAAAAAJyw/3RJSWRZ5NyQwAqYFs2jfTjPVZqGXBMkLACLcB/s0/bg.gif') repeat center top fixed;z-index:7;}
#mhom div.mhok{
width: 100%;
height: 39px;    
position: relative;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 7, 248)), to(rgba(147, 1, 255, 0.27)));
}
#mhom div.mhok .melu{margin:5px;width:30px;height:30px;background:url('https://2.bp.blogspot.com/-YDIDoSZ8Szo/V3Rjt5O0ANI/AAAAAAAAKew/6lYMryPy5eM3o_lcYraYlcG5APWRoLdJwCLcB/s0/menu.png') top left no-repeat}
#mhom div.mhok input{top:5px;
padding: 0 7px;
font-size: 15px;
line-height: 15px;
height: 30px;
position: absolute;
border: 0;
border-radius: 4px;border-spacing:0px;space:0px;
display: inline;
background: #FFFCB2;}
#mhom div.mhok input:hover{border:0;border-radius:4px}
#mhom div.mhok .mseh{top:5px;right:5px;position:absolute;
width:30px;height:30px;background:url('https://2.bp.blogspot.com/-2gY9s5tNJT0/V3RkRwBRbNI/AAAAAAAAKe4/HtVw-QMTajUTRbX4CvjYMIBir9K8j5EBACLcB/s0/search.png') 5px 6px no-repeat}

#search ul{width:82.3%;margin-left:-2px}
#mhsea ul{
width:85%;
margin-top:36px;
position: absolute;
padding: 0;
background: rgba(255,255,255,0.89);
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
cursor: default;
z-index: 3;
}
#mhsea ul li{
text-align: left;
font: 16px/27px 'Helvetica Neue',Helvetica,arial,sans-serif;
padding: 0 12px 0 7px;
display: block;
font-weight: bold;
background: linear-gradient(to bottom, rgba(255, 255, 255, 0.37) 0px, rgb(251, 251, 232) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#mhsea ul li b{color:#FF3DFF;font-weight:normal}
#mhsea ul li:hover,#mhsea ul li.t{background:rgba(233,233,233,.69)}



ul#mgroup{width:77%;margin:9px 0 0 9px;position:relative}
ul#mgroup ul{top:120px;left:320px;width:100%;height:100%;background:#fff;position:absolute;opacity:0;
-webkit-transform:translateX(100%) rotate(120deg);transition:all .2s ease-out}
ul#mgroup li:hover > ul{top:0px;left:0px;opacity:1;-webkit-transform:translateX(0px) rotate(0deg);}
ul#mgroup li{padding:5px 0 0 9px;line-height:27px;display:block;
background: linear-gradient(to bottom, rgba(255, 255, 255, 0.23) 0px, rgba(245,247,249,0.79) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
border-bottom:1px solid #E5E5E5;}



ul#mgroup li a{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color: #02002B;
font-size:16px;font-weight:bold;text-decoration:none;text-transform:capitalize;}


#show #ititle{font-size:22px;line-height:27px}
#ipost img{margin:7px 0 !important;padding:0 !important;width:100% !important;max-width:100% !important;height:auto;border:0 !important}
#ipost div.ifull img{max-width:100% !important;margin:0 !important}
#ipost div.text{margin:0 5px}
#ipost div.text img,#ipost div.text img.yleft,#ipost div.text img.yright{margin:0;margin-bottom:5px;padding:0;width:100%;max-width:100%;height:auto;float:left;
-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}

#tail ul.list li{padding:0 7px;}
#tail #ileft{padding-left:5px;}#ileft label{margin-right:7px;}
#tail #iright input{margin-left:9px;}#tail #iright{padding-right:3px;}
#ipost #gtext{padding:2px 3px;}
#itail {width:100%;}
#itail a{padding:1px 7px;font-size:25px;line-height:25px;}
#itail div.gose{margin:0 9px;}
#itail div.gose input{width:52px}
}
@media only screen and (max-width:415px){
.wab div.rp{height:267px}
}
@media only screen and (max-width:375px){
.wab div.rp{height:247px}
}
@media only screen and (max-width:360px){
.wab div.rp{height:239px}
}
@media only screen and (max-width:320px){
.wab div.rp{height:217px}
}

@media only screen and (min-width:500px){}

#menu{background:rgba(255,255,255,0.79);display:none}
.smenu{display:table-row !important}
#menu .xmenu{width:100%;padding:0 7px;display:table}
#menu ol{padding:12px 0;}
#menu ol li{margin-left:3px;border-bottom:1px solid #fff;display:block}
#menu ol li a{line-height:18px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#1a0dab;text-shadow:0px -1px 6px #FFF;cursor:pointer;text-decoration:none;text-transform:capitalize}
#menu ol li a.f::first-letter{font-size:13px;font-weight:bold;color:#FE0066;}
#menu ol li:hover{background:rgba(255,255,102,0.079);}
#menu ol li:hover a{text-decoration:underline;}#menu ol li a:visited{color:#609}
#menu:hover{display:table-row}

#alibaba{width:100%;word-wrap:break-word;position:relative;background:url(https://2.bp.blogspot.com/-WqYActoMKBI/Vyq0Vw4AStI/AAAAAAAAJyw/3RJSWRZ5NyQwAqYFs2jfTjPVZqGXBMkLACLcB/s0/bg.gif) repeat left top;}#alibaba div{width:100%;display:inline-block}
#alibaba .about{padding:12px 0 3px 0;text-align:center;font-weight: bold;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 17px;line-height:22px;text-shadow: 0 2px 2px rgba(255,255,255,0.7);}
#alibaba .about a{margin:0 9px;color:#000;text-decoration:none}#alibaba .about a:hover{color:#FF3DFF;text-decoration:underline}
#alibaba .holy{width:100%;z-index:3}html:hover #alibaba .holy,body:hover #alibaba .holy{height:12px}#alibaba #share3-b,#alibaba #Label1{width:100%;}
#alibaba .holy .ing{width:99%;margin:12px auto;padding:0;border-spacing:9px 2px;position:relative;display:table;text-shadow:0 -1px rgba(255,255,255,.9);}
#alibaba .ing{width:100%;margin-top:0;padding:12px;font-size:15px;line-height:22px;transition:margin-top 1s ease-out;position:relative;background:rgba(255,255,255,0.89);z-index:9}
#alibaba .ing:hover{margin-top:12px;}
#alibaba .ing h2{margin:9px 0 9px 0;padding:0}#alibaba .holy h3{margin:9px 0 5px 0;padding:0}
#alibaba .ing .BlogArchive ul{margin-top:3px}.BlogArchive ul li{margin:7px 0;display:block}
.BlogArchive ul li a{padding:9px 0;display:inline;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:18px;margin-right:3px;line-height:22px;}
#Blog1{margin-top:12px}

#alibaba .ing a.toggle{font-size:22px}
#alibaba .ing a{color:#0000EE;text-decoration:none}
#alibaba .ing a:hover{color:#FF3DFF;text-decoration:underline}
#alibaba .ing img{max-width:100% !important;height:auto !important;border:0 !important;margin:7px auto !important;padding:0 !important;display:table !important;}
#alibaba .ing div,#alibaba .ing span,#alibaba .ing p,#alibaba .ing embed,#alibaba .ing iframe{max-width:100% !important}
#alibaba .ing .boss{padding-right:12px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 15px;line-height: 20px;text-align:justify;white-space: pre-wrap;}

#gtext{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
